@font-face {
  font-family: 'Didot';
  src:
    url('../fonts/Didot.woff2') format('woff2'),
    url('../fonts/Didot.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gill Sans';
  src:
    url('../fonts/GillSans.woff2') format('woff2'),
    url('../fonts/GillSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Copperplate';
  src:
    url('../fonts/Copperplate.woff2') format('woff2'),
    url('../fonts/Copperplate.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
