.navbar {
  margin-top: 5rem;
  margin-bottom: 5rem;

  &.nav-absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
  }

  .navbar-brand {
    margin: 0;
    img {
      height: 140px;
      // width: 330px;
      margin-bottom: 2rem;
    }
    // background-color: red;
  }

  .navbar-nav {
    margin-top: 3rem;

    .nav-link {
      color: $grey;
      padding-left: 1.3rem;
      padding-right: 1.3rem;
      font-size: 1.5rem;

      &:hover {
        color: #fff;
      }

      &.active {
        color: #fff;
      }
    }
  }

  .row {
    width: 100%;

    .navbar-collapse {
      width: 100%;

      ul {
        width: 100%;
      }
    }
  }
}

.page-template-hotel, .page-template-home {
  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
  }
}

.page-template-home {
  .navbar {
    .navbar-nav {
      .nav-link {
        color: $blue;
      }
    }
  }
}
// .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link
