.navbar {
  margin-top: 5rem;
  margin-bottom: 5rem;
  z-index: 999;

  &.nav-absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }

  .navbar-brand {
    margin: 0;
    img {
      height: 140px;
      // width: 330px;
      margin-bottom: 2rem;
    }
    // background-color: red;
  }

  .navbar-nav {
    margin: 0;
    margin-top: 3rem;

    .menu-item {
      color: $grey;
      padding-left: 0.7rem;
      padding-right: 0.7rem;
      font-size: 1.4rem;

      a {
        text-decoration: none;
        text-transform: uppercase;
      }

      &:hover {
        color: #fff;
      }

      &.current-menu-item {
        color: #fff;
      }
    }
  }

  .row {
    width: 100%;

    .navbar-collapse {
      width: 100%;

      ul {
        width: 100%;
      }
    }
  }
}

.page-template-hotel, .page-template-home {
  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
}

.page-template-home {
  .navbar {
    .navbar-nav {
      .menu-item {
        // color: $blue;
        color: white;
      }
    }
  }
}

// .navbar-light .navbar-nav .menu-item.active, .navbar-light .navbar-nav .show>.menu-item
@media (max-width: 992px) {
  .navbar .navbar-toggler {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
    // background-color: $blue;
  }

  .navbar .row .navbar-collapse {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: $dark-grey;
    color: white;
    z-index: 998;
  
    .navbar-nav {
      margin: 0;
      padding: 90px 30px;

      .menu-item {
        color: white !important;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
  }
  
  .page-template-home .navbar .navbar-nav .menu-item {
    color: white;
  }
}

