.navbar {
  margin-top: 5rem;
  margin-bottom: 5rem;

  &.nav-absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }

  .navbar-brand {
    margin: 0;
    img {
      height: 140px;
      // width: 330px;
      margin-bottom: 2rem;
    }
    // background-color: red;
  }

  .navbar-nav {
    margin-top: 3rem;

    .nav-link {
      color: $grey;
      padding-left: 1.3rem;
      padding-right: 1.3rem;
      font-size: 1.5rem;

      &:hover {
        color: #fff;
      }

      &.active {
        color: #fff;
      }
    }
  }

  .row {
    width: 100%;

    .navbar-collapse {
      width: 100%;

      ul {
        width: 100%;
      }
    }
  }
}

.page-template-hotel, .page-template-home {
  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
}

.page-template-home {
  .navbar {
    .navbar-nav {
      .nav-link {
        color: $blue;
      }
    }
  }
}
// .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link
@media (max-width: 768px) {
  .navbar .navbar-toggler {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
    background-color: $blue;
  }

  .navbar .row .navbar-collapse {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: $blue;
    color: white;
    z-index: 998;
  
    .navbar-nav {
      margin: 0;
      padding: 90px 30px;

      .nav-link {
        color: white !important;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
  }
  
  .page-template-home .navbar .navbar-nav .nav-link {
    color: white;
  }
}