.bg-blue {
  background-color: $dark-grey;

  &.page-template-materiali {
    background-color: $dark-grey;
  }
}

.certificati-container {
  margin-top: 60px;
  margin-bottom: 120px;

  .popup-link {
    display: block;
    z-index: 3;
    margin-bottom: 20px;
  }
  .doc-overlay {
    position: relative;
    &::after {
      content: " ";
      z-index: 1;
      display: block;
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      background: $grey;
      opacity: 0.5;
      pointer-events: none;
    }
  }

  span.zoom {
    position: absolute;
    bottom: -16px;
    right: 25px;
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    z-index: 3;
  }
}

.page-title {
  margin-bottom: -21px;
  margin-top: 6rem;
  h2 {
    color: $grey;
    text-transform: uppercase;
    // font-size: 5.5rem;
    font-size: 10vh;
    // font-family: Didot, serif;
    // letter-spacing: 99px;
    // letter-spacing: 11.11%;

    &.rendered {
      display: flex;
      justify-content: space-between;
      margin: 0;
      margin-bottom: -23px;
    }
  }
}

.video-cover {
  width: 100%;
  margin: 0;
  min-height: 100vh;

  .vjs-big-play-button {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background-color: transparent;

    .vjs-icon-placeholder {
      &::before {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 6rem;
      }
    }
  }
}


.gallery {
  .row {
    padding-top: 30px;
    padding-bottom: 30px;

    &:first-child {
      padding-top: 0;
    }
  }

  .gallery-item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 12px;

    &.h-full {
      min-height: 900px;
    }

    &.h-half {
      min-height: 400px;
    }

    &.h-hotel {
      min-height: 750px;
      margin-bottom: 0;
    }

    .info-box {
      width: 120px;
      height: 120px;
      position: absolute;
      bottom: 0;
      left: 0;
      // @include background-opacity($grey, 0.5);
      background-color: transparentize($grey, 0.5);
      font-size: 1.7rem;
      color: #fff;
      text-decoration: none;

      .open-box,
      .close-box {
        color: #fff;
        text-decoration: none;
        position: absolute;
        top: 10px;
        right: 10px;
        // font-size: 2rem;

        img {
          width: 32px;
          height: 32px;
        }
      }

      .content {
        font-size: 1.2rem;
        color: $blue;
        padding: 3.5rem 2rem;
      }

      .close-box,
      .content {
        display: none;
      }

      &.expanded {
        max-width: 430px;
        width: 100%;
        height: inherit;
        background-color: transparentize($grey, 0.2);

        .open-box,
        .closed {
          display: none;
        }

        .close-box,
        .content {
          display: block;
        }
      }
    }
  }

  .description {
    text-align: right;
    color: $grey;
    font-family: Didot, serif;
    font-size: 1.1rem;
    margin-top: 0.3rem;
    margin-bottom: 50px;
  }
}

.quote {
  padding-top: 3rem;
  padding-bottom: 3rem;

  .divider {
    background: #949494;
    max-width: 300px;
    width: 100%;
    height: 2px;
    border-radius: 100%;
  }

  p {
    color: #949494;
    text-align: center;
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  img {
    max-width: 300px;
  }
}

// servizi
.container.servizi {

  img {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
  }

  h2 {
    text-transform: uppercase;
    color: white;
    letter-spacing: 1rem;
  }

  p {
    color: #949494;
    font-size: 1.2rem;
  }
}

.contract-page {
  margin-top: 75vh;
}

footer {
  // background-color: red;
  background-color: #b2b2b2;
  // padding-top: 100px;
  padding-bottom: 50px;
  font-size: 20px;
  color: $blue;

  .socials {
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 2rem;
  }

  a.icon {
    text-decoration: none;
    color: $text-grey;
    padding: 0 10px;
  }
  
  p {
    margin: 0;
  }

  a {
    color: $blue;
  }

  .title {
    font-weight: bold;
  }

  .privacy-container {
    margin-top: 1rem;

    a:first-child {
      margin-right: 1rem;
    }
  }
}

.about {
  .gabana-image {
    max-height: 600px;
    height: 100%;
  }

  .image-container {
    display: flex;
    justify-content: flex-end;
  }

  p {
    font-size: 20px;
    color: $grey;
    margin-top: 1rem;
  }
}

.c-margin {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.card-image {
  max-width: 900px;
  margin-top: 4rem;
  margin-bottom: 4rem;
  position: relative;
  
  .side-title {
    bottom: -48px;
    left: -25px;
    transform: rotate(-90deg);
    position: absolute;
    font-size: 2rem;
    color: $grey;
    text-transform: uppercase;
    transform-origin: top left;
    letter-spacing: 1.5rem;
  }

  .img-container {
    position: relative;

    img {
      object-fit: cover;
      width: 100%;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(0,0,0,0.7);
      opacity: 0;
      transition: all .3s;

      &:hover{
        opacity: 1;
      }

      p {
        padding: 2rem;
        color: white;
        font-size: 2rem;
        text-align: center;
        margin: 0;
      }
    }
  }

}

// TIMELINE
// .container {
//   ul {
//     margin: 0;
//     margin-top: 100px;
//     list-style: none;
//     position: relativ;
//     padding: 1px 100px;
//     color: #fff;
//     font-size: 13px;
//     &:before {
//       content: '';
//       width: 1px;
//       height: 100%;
//       position: absolute;
//       border-left: 2px dashed #fff;
//     }
//     li {
//       position: relative;
//       margin-left: 30px;
//       background-color: rgba(255, 255, 255, 0.2);
//       padding: 14px;
//       border-radius: 6px;
//       width: 250px;
//       box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);
//       &:not(:first-child) {
//         margin-top: 60px;
//         > span {
//           width: 2px;
//           height: 100%;
//           background: #fff;
//           left: -30px;
//           top: 0;
//           position: absolute;
//           &:before, &:after {
//             content: '';
//             width: 8px;
//             height: 8px;
//             border-radius: 50%;
//             border: 2px solid #fff;
//             position: absolute;
//             background: #86b7e7;
//             left: -5px;
//             top: 0;
//           }
//         }
//       span:after {
//         top: 100%
//       }
//       > div {
//         margin-left: 10px
//       }
//       }
//     }
//   }
// }

.absolute-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}


.timeline {
  margin-top: 4rem;
  margin-bottom: 4rem;
  .timeline-item {
    // padding-top: 2rem;
    // padding-bottom: 2rem;
    padding: 1rem 2rem;
    color: white;

    &.item-left {
      text-align: right;
    }

    &.border-timeline {
      border-left: 2px solid #8a8a8a;
      position: relative;
      
      &:before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        // top: calc(50% - 9px);
        background: #8a8a8a;
        z-index: 1;
        border-radius: 500px;
        left: -6px;
      }
    }
    // position: relative;
    
  }
}



// @media (min-width: 576px) {

// }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {

// }

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) {

// }

// X-Large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {

// }

// XX-Large devices (larger desktops, 1400px and up)
// @media (min-width: 1400px) {

// }

@media (min-width: 576px) {
  
}

@media (max-width: 992px) {
  .page-title {
    h2.rendered {
      font-size: 6vh;
      margin-bottom: -12px;
    }
  }
}

@media (max-width: 768px) {
  .page-title {
    h2.rendered {
      font-size: 4vh;
      margin-bottom: -10px;
    }
  }

  .gallery .gallery-item.h-full {
    min-height: 400px;
  }

  .gallery .gallery-item.h-hotel {
    min-height: 350px;
  }

  .video-cover {
    min-height: 50vh;
  }

  .page-title h2.rendered {
    margin-bottom: 6px;
  }

  .contract-page {
    margin-top: 30vh;
  }
  
  
}
// @media (min-width: 1200px) {
  
// }
// @media (min-width: 1400px) {
  
// }