// Load CSS Reset from NPM
// @import "~normalize.css";
@import "partials/_variables.scss";
@import "partials/_font.scss";
@import "partials/_navbar.scss";
@import "partials/_hero.scss";
@import "partials/_page.scss";
@import "partials/_video.scss";
@import "partials/_slider.scss";
@import "partials/_form.scss";

body {
  font-family: 'Gill Sans', sans-serif;
}

.page {
  margin: 0;
}

a {
  color: inherit;
  // text-decoration: none;
  &:hover {
    color: $blue;
  }
  &:visited {
    color: inherit;
  }
}